# Sensirion SCD30 CO2 sensor configuration options

# Copyright (c) 2021 Advanced Climate Systems
# SPDX-License-Identifier: Apache-2.0

config ZEPHYR_ACCEL_SENSOR
	bool "Accelerometer Sensor"
	select I2C
	help
	  Enable driver for Accelerometer Sensor. Tilt, Move, etc.

config ACCEL_SENSOR_INIT_PRIORITY
	int "Accelerometer Sensor Initialization Priority"
	default 90
	help
	  Priority of the Accelerometer Sensor initialization.
