# Sensirion SCD30 CO2 sensor configuration options

# Copyright (c) 2021 Advanced Climate Systems
# SPDX-License-Identifier: Apache-2.0

config BADEN_ACCEL_SENSOR
	bool "Accelerometer Sensor"
	select I2C
	help
	  Enable driver for Accelerometer Sensor. Tilt, Move, etc.
